    body {
        animation: colorchange 5s linear 1s infinite;
        /* animation-name followed by duration in seconds*/
        /* you could also use milliseconds (ms) or something like 2.5s */
        -webkit-animation: colorchange 5s linear 0s infinite alternate;
        /* Chrome and Safari */
    }

    @keyframes colorchange {
        0% {
            background: red;
            color: cyan;
        }
        33% {
            background: green;
            color: magenta;
        }
        66% {
            background: blue;
            color: yellow;
        }
        100% {
            background: red;
            color: cyan;
        }
    }

    @-webkit-keyframes colorchange
    /* Safari and Chrome - necessary duplicate */

        {
        0% {
            background: red;
            color: cyan;
        }
        33% {
            background: green;
            color: magenta;
        }
        66% {
            background: blue;
            color: yellow;
        }
        100% {
            background: red;
            color: cyan;
        }
    }

    h3 {
        margin: 80px auto 0;
        font-size: 180px;
        font-weight: bold;
        text-align: center;
        font-family: 'Rampart One', cursive;
    }

    h1 {
        margin: 80px auto 0;
        font-size: 180px;
        font-weight: bold;
        text-align: center;
        font-family: 'Rampart One', cursive;
    }

    p {
        margin: 50px auto 0;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        font-family: 'Patrick Hand', cursive;
    }

    .button {
        background-color: blue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    h4 {
        margin: 50px auto 0;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        font-family: 'Rampart One', cursive;
    }

    #imagemint {
        margin: 80px auto 0;
        text-align: center;
    }

    .pers {
        text-decoration: none;
        padding: 18px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 12px;
    }

    .pers:hover {
        color: #fff;
        background-color: purple;
    }

    .btn {
        background: #113546;
        color: #000;
        display: inline-block;
        padding: 0.2rem 0.5rem;
        margin: 0.5rem;
        position: relative;
        border-radius: 8px;
        text-decoration: none;
        cursor: pointer;
        box-sizing: border-box;
        transition: all 0.1s ease-in-out;
        z-index: 1;
    }

    .btn:hover {
        background: #021f2c;
        color: #fff;
    }

    .btn:hover:after {
        border-color: #021f2c;
    }

    .btn:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: -0.5rem;
        top: -0.5rem;
        width: calc(100% + (1rem));
        height: calc(100% + (1rem));
        z-index: -1;
        border: 0.375rem solid #113546;
        border-radius: 14px;
        background: linear-gradient(45deg, #ec5f67, #f99157, #fac863, #99c794, #5fb3b3, #6699cc, #c594c5);
        box-sizing: inherit;
    }

    .btn:active:after {
        box-shadow: inset 0 0 0.5rem #000;
    }

    .contact {
        margin: 5rem;
    }

    @import url(https://fonts.googleapis.com/css?family=Lato);
    @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900);
    #red {
        border-top: 5px solid red;
    }

    #red:hover {
        background-color: red;
    }

    #yellow {
        border-top: 5px solid yellow;
    }

    #yellow:hover {
        background-color: yellow;
        color: #1c2020;
    }

    #green {
        border-top: 5px solid green;
    }

    #green:hover {
        background-color: green;
    }

    #blue {
        border-top: 5px solid blue;
    }

    #blue:hover {
        background-color: blue;
    }

    #violet {
        border-top: 5px solid purple;
    }

    #violet:hover {
        background-color: purple;
    }

    a {
        text-decoration: none;
        color: #FFF;
    }

    #clock {
        font-size: 5em;
        text-align: center;
        margin: 1em;
    }